.accordion-button {
    background-color: #00f7ff; /* Default background */
  
  }
  
  .accordion-button.collapsed {
    background-color: #f8f9fa; /* Collapsed background */
    color: black; /* Collapsed text */
  }
  
  .accordion-body {
    background-color: #f1f1f1; /* Body background */
    color: #333; /* Body text */
  }

  